main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
  .main-wrap {
    position: absolute;
    transition: 0.5s;
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    article {
      section {
        width: 100vw;
        height: 100vh;
      }
    }
  }
  .chapter01 {
    width: 100%;
    transition: 1s;
    .musinsa {
      background-image: url(../assets/img/musinsa/logo-musinsa.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .baemin {
      background-image: url(../assets/img/baemin/logo-baemin.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .coupang {
      background-image: url(../assets/img/coupang/logo-coupang.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
  .chapter02 {
    width: 100%;
    transition: 1s;
    .youtube {
      color: #fff;
      overflow: hidden;
      background-color: rgba($color: #000000, $alpha: 0.98);
      .youtube-header {
        padding-top: 12px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        .header-left {
          display: flex;
          // width: 169px;
          .menu-bar {
            padding: 8px;
          }
          .youtube-logo {
            // width: 50px;
            // height: 50px;
            padding: 18px 14px 18px 16px;
          }
        }
        .header-center {
          display: flex;
          flex: 0 1 728px;
          border-collapse: collapse;
          .search-left {
            width: 100%;
            max-width: 540px;
            border: 1px solid gray;
            border-radius: 40px 0 0 40px;
            padding: 0 4px 0 16px;
          }
          .search-right {
            // width: 100px;
            border: 1px solid gray;
            border-radius: 0 40px 40px 0;
          }
        }
        .header-right {
          display: flex;
          .user-profile {
            img {
              width: 32px;
              border-radius: 50%;
            }
          }
        }
      }
      .youtube-main {
        display: flex;
        .side-nav {
          padding: 12px;
          border: 1px solid #ddd;
          margin-right: 20px;
          .common-menu {
            width: 240px;
            padding: 0 12px;
            div {
              height: 40px;
            }
          }
          .personal-menu {
            width: 240px;
            padding: 0 12px;
            div {
              height: 40px;
            }
          }
          .subscription-list {
            width: 240px;
            padding: 0 12px;
            div {
              height: 40px;
              img {
                width: 24px;
                border-radius: 50%;
              }
            }
          }
        }
        .content-area {
          .feed-filter {
            border: 1px solid yellow;
            display: flex;
            div {
              border: 1px solid coral;
              background-color: rgba(255, 255, 255, 0.1);
              color: #f1f1f1;
              font-size: 14px;
              margin: 12px 12px 12px 0;
              border-radius: 10px;
              padding: 12px;
              span {
                text-align: center;
              }
            }
          }
          .item-list {
            display: grid;
            grid-template-columns: repeat(4, minmax(330px, 360px));
            grid-template-rows: repeat(3, minmax(300px, 1fr));
            .item {
              margin: 0 8px 40px;
              border: 1px solid red;
              figure {
                img {
                  width: 100%;
                }
                figcaption {
                  display: flex;
                  margin-top: 12px;
                  .avatar-link {
                    margin-right: 12px;
                    .avatar-image {
                      img {
                        width: 36px;
                        border-radius: 50%;
                      }
                    }
                  }
                  .media-content {
                    .media-title {
                      font-size: 16px;
                      color: #f1f1f1;
                      margin-bottom: 4px;
                    }
                    span {
                      font-size: 14px;
                      color: #aaaaaa;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .youtube-music {
      color: #fff;
      overflow: hidden;
      background-color: rgba($color: #000000, $alpha: 0.98);
      a {
        color: #fff;
      }
      .youtube-music-header {
        padding-top: 12px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        .header-left {
          display: flex;
          .youtube-music-logo {
            padding: 18px 14px 18px 16px;
          }
        }
        .header-center {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0 1 728px;
          border-collapse: collapse;
          a {
            span {
              margin: 24px;
              font-size: 20px;
            }
          }
          .search-btn {
            span {
              font-size: 20px;
              margin: 24px 24px 24px 12px;
            }
          }
        }
        .header-right {
          display: flex;
          .user-profile {
            img {
              width: 32px;
              border-radius: 50%;
            }
          }
        }
      }
      .youtube-music-main {
        margin: 50px auto 0;
        width: 80%;
        border: 2px solid red;
        padding: 0 0 0 40px;
        .replay-list {
          margin-bottom: 64px;
          .replay-header {
            h2 {
              a {
                font-size: 45px;
              }
            }
          }
          .item-list {
            margin: 25px 0 64px;
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(6, minmax(255px, 255px));
            grid-template-rows: repeat(1, minmax(307px, 307px));
            .item {
              border: 1px solid yellow;
              margin-right: 24px;
              figure {
                width: auto;
                img {
                  width: 100%;
                }
                figcaption {
                  margin-top: 10px;
                  width: 100%;
                }
              }
            }
          }
        }
        .selection-list {
          padding-top: 32px;
          .selection-header {
            span {
              font-size: 16px;
              color: #aaaaaa;
            }
            h2 {
              font-size: 45px;
            }
          }
          .item-list {
            ul {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              height: 250px;
              li {
                width: 33%;
                margin: 0 24px 16px 0;
                &:nth-child(4n){
                  margin-bottom: 0;
                }
                &:hover {
                  a {
                    figure {
                      &::after {
                        display: block;
                      }
                      figcaption {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .unvisible {
                          display: block;
                        }
                      }
                    }
                  }
                }
                a {
                  figure::after {
                    content: "";
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.8);
                    width: 48px;
                    height: 48px;
                    background-image: url(../assets/img/youtube-music/selection-items/play_arrow_fill1.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                  }
                  figure {
                    display: flex;
                    position: relative;
                    .popup {
                      img {
                        width: 48px;
                        height: 48px;
                      }
                    }
                    figcaption {
                      margin-left: 16px;
                      display: flex;
                      justify-content: space-around;
                      .visible {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        strong {
                          color: #fff;
                          display: block;
                        }
                        span {
                          color: rgba(255, 255, 255, 0.7);
                        }
                      }
                      .unvisible {
                        display: none;
                        .hide-bar {
                          display: flex;
                          padding-top: 13px;
                          div {
                            margin: 0 7px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .naver-webtoon {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      .naver-webtoon-header{
        width: 960px;
        margin: 0 auto;
        .webtoon-header-line01{
        display: flex;
        justify-content: space-between;
          .webtoon-header-left{
            display: flex;
            .naver-logo{
              background-image: url("../assets/img/naver-webtoon/naver-logo.svg");
              a{
                background-image: url("../assets/img/naver-webtoon/naver-logo.svg");
                background-repeat: no-repeat;
                display: inline-block;
              }
              .naver-home{background-position: -111px -28px;
                width: 60px;
                height: 12px;}
              .naver-webtoon{background-position: -4px -133px;
                width: 42px;
                height: 27px;}
              .naver-novel{background-position: -109px -55px;
                width: 47px;
                height: 19px;}
              .naver-series{background-position: -4px -106px;
                width: 47px;
                height: 19px;}
            }
          }
          .webtoon-header-right{
            display: flex;
          }
        }
        .webtoon-header-line02{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .webtoon-category{
            ul{
              display: flex;
              li{
                margin: 5px;
              }
            }
          }
        }
        .comic-category{
          .category-list{
            display: flex;
            li{
              border: 1px solid turquoise;
            }
          }
        }
      }
      
      .naver-webtoon-main{
        width: 960px;
        margin: 0 auto;
        display: flex;
        
        .webtoon-main-left{
          width: 694px;
          border: 1px solid coral;
          .days-list{
            .days-list-ul{
              display: flex;
              border-bottom: 2px solid #ddd;
              li{
                border: 1px solid slateblue;
                margin: 5px;
              }
            }
            
          }.new-webtoon{
            ul{
              display: flex;
              li{
                border: 1px solid orange;
                margin: 5px;
                width: 218px;
                figure{
                  img{
                    width: 100%;
                  }
                }
              }
            }
          }
          .webtoon-banner{
            width: 100%;
            height: 60px;
            border: 1px solid blue;
          }
          .webtoon-list-board{
            .board-line01{
              display: flex;
              justify-content: space-between;
              h2{font-size:30px}
              .view-type{
                span{
                  font-size: 20px;
                  border: 1px solid orchid;
                }
              }
            }
            .board-line02{
              display: flex;
              
              .webtoon-mon{width: 100px;}
              .webtoon-tue{width: 100px;}
              .webtoon-wed{width: 100px;}
              .webtoon-thu{width: 100px;}
              .webtoon-fri{width: 100px;}
              .webtoon-sat{width: 100px;}
              .webtoon-sun{width: 100px;}
            }
          }
        }
        .webtoon-main-right{
          width: 240px;
          border: 1px solid cornflowerblue;
        }
      }
    }
  }
}
