main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}
main .main-wrap {
  position: absolute;
  transition: 0.5s;
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
main .main-wrap article section {
  width: 100vw;
  height: 100vh;
}
main .chapter01 {
  width: 100%;
  transition: 1s;
}
main .chapter01 .musinsa {
  overflow: hidden;
}
main .chapter01 .musinsa .musinsa-header .extend-banner {
  height: 70px;
  border: 1px solid sandybrown;
}
main .chapter01 .musinsa .musinsa-header .header-content div {
  border: 1px solid steelblue;
}
main .chapter01 .musinsa .musinsa-header .header-content .line01 {
  height: 78px;
  background-color: #000;
  color: #fff;
}
main .chapter01 .musinsa .musinsa-header .header-content .line02 {
  height: 51px;
}
main .chapter01 .musinsa .musinsa-header .header-content .line03 {
  height: 50px;
}
main .chapter01 .musinsa .musinsa-main {
  display: flex;
}
main .chapter01 .musinsa .musinsa-main .main-left {
  width: 270px;
  border: 1px solid forestgreen;
}
main .chapter01 .musinsa .musinsa-main .main-right {
  min-width: 1229px;
  border: 1px solid mediumvioletred;
}
main .chapter01 .baemin {
  background-image: url(../assets/img/baemin/logo-baemin.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .chapter01 .coupang {
  overflow: hidden;
}
main .chapter01 .coupang .coupang-header .extend-banner {
  height: 70px;
  border-bottom: 1px solid #cac6c3;
}
main .chapter01 .coupang .coupang-header .header-content .line01 {
  height: 32px;
  background-color: #f0f0f0;
}
main .chapter01 .coupang .coupang-header .header-content .line02 {
  height: 115px;
}
main .chapter02 {
  width: 100%;
  transition: 1s;
}
main .chapter02 .youtube {
  color: #fff;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.98);
}
main .chapter02 .youtube .youtube-header {
  padding-top: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
main .chapter02 .youtube .youtube-header .header-left {
  display: flex;
}
main .chapter02 .youtube .youtube-header .header-left .menu-bar {
  padding: 8px;
}
main .chapter02 .youtube .youtube-header .header-left .youtube-logo {
  padding: 18px 14px 18px 16px;
}
main .chapter02 .youtube .youtube-header .header-center {
  display: flex;
  flex: 0 1 728px;
  border-collapse: collapse;
}
main .chapter02 .youtube .youtube-header .header-center .search-left {
  width: 100%;
  max-width: 540px;
  border: 1px solid gray;
  border-radius: 40px 0 0 40px;
  padding: 0 4px 0 16px;
}
main .chapter02 .youtube .youtube-header .header-center .search-right {
  border: 1px solid gray;
  border-radius: 0 40px 40px 0;
}
main .chapter02 .youtube .youtube-header .header-right {
  display: flex;
}
main .chapter02 .youtube .youtube-header .header-right .user-profile img {
  width: 32px;
  border-radius: 50%;
}
main .chapter02 .youtube .youtube-main {
  display: flex;
}
main .chapter02 .youtube .youtube-main .side-nav {
  padding: 12px;
  border: 1px solid #ddd;
  margin-right: 20px;
}
main .chapter02 .youtube .youtube-main .side-nav .common-menu {
  width: 240px;
  padding: 0 12px;
}
main .chapter02 .youtube .youtube-main .side-nav .common-menu div {
  height: 40px;
}
main .chapter02 .youtube .youtube-main .side-nav .personal-menu {
  width: 240px;
  padding: 0 12px;
}
main .chapter02 .youtube .youtube-main .side-nav .personal-menu div {
  height: 40px;
}
main .chapter02 .youtube .youtube-main .side-nav .subscription-list {
  width: 240px;
  padding: 0 12px;
}
main .chapter02 .youtube .youtube-main .side-nav .subscription-list div {
  height: 40px;
}
main .chapter02 .youtube .youtube-main .side-nav .subscription-list div img {
  width: 24px;
  border-radius: 50%;
}
main .chapter02 .youtube .youtube-main .content-area .feed-filter {
  border: 1px solid yellow;
  display: flex;
}
main .chapter02 .youtube .youtube-main .content-area .feed-filter div {
  border: 1px solid coral;
  background-color: rgba(255, 255, 255, 0.1);
  color: #f1f1f1;
  font-size: 14px;
  margin: 12px 12px 12px 0;
  border-radius: 10px;
  padding: 12px;
}
main .chapter02 .youtube .youtube-main .content-area .feed-filter div span {
  text-align: center;
}
main .chapter02 .youtube .youtube-main .content-area .item-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(330px, 360px));
  grid-template-rows: repeat(3, minmax(300px, 1fr));
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item {
  margin: 0 8px 40px;
  border: 1px solid red;
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item figure img {
  width: 100%;
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item figure figcaption {
  display: flex;
  margin-top: 12px;
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item figure figcaption .avatar-link {
  margin-right: 12px;
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item figure figcaption .avatar-link .avatar-image img {
  width: 36px;
  border-radius: 50%;
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item figure figcaption .media-content .media-title {
  font-size: 16px;
  color: #f1f1f1;
  margin-bottom: 4px;
}
main .chapter02 .youtube .youtube-main .content-area .item-list .item figure figcaption .media-content span {
  font-size: 14px;
  color: #aaaaaa;
}
main .chapter02 .youtube-music {
  color: #fff;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.98);
}
main .chapter02 .youtube-music a {
  color: #fff;
}
main .chapter02 .youtube-music .youtube-music-header {
  padding-top: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
main .chapter02 .youtube-music .youtube-music-header .header-left {
  display: flex;
}
main .chapter02 .youtube-music .youtube-music-header .header-left .youtube-music-logo {
  padding: 18px 14px 18px 16px;
}
main .chapter02 .youtube-music .youtube-music-header .header-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 1 728px;
  border-collapse: collapse;
}
main .chapter02 .youtube-music .youtube-music-header .header-center a span {
  margin: 24px;
  font-size: 20px;
}
main .chapter02 .youtube-music .youtube-music-header .header-center .search-btn span {
  font-size: 20px;
  margin: 24px 24px 24px 12px;
}
main .chapter02 .youtube-music .youtube-music-header .header-right {
  display: flex;
}
main .chapter02 .youtube-music .youtube-music-header .header-right .user-profile img {
  width: 32px;
  border-radius: 50%;
}
main .chapter02 .youtube-music .youtube-music-main {
  margin: 50px auto 0;
  width: 80%;
  border: 2px solid red;
  padding: 0 0 0 40px;
}
main .chapter02 .youtube-music .youtube-music-main .replay-list {
  margin-bottom: 64px;
}
main .chapter02 .youtube-music .youtube-music-main .replay-list .replay-header h2 a {
  font-size: 45px;
}
main .chapter02 .youtube-music .youtube-music-main .replay-list .item-list {
  margin: 25px 0 64px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(255px, 255px));
  grid-template-rows: repeat(1, minmax(307px, 307px));
}
main .chapter02 .youtube-music .youtube-music-main .replay-list .item-list .item {
  border: 1px solid yellow;
  margin-right: 24px;
}
main .chapter02 .youtube-music .youtube-music-main .replay-list .item-list .item figure {
  width: auto;
}
main .chapter02 .youtube-music .youtube-music-main .replay-list .item-list .item figure img {
  width: 100%;
}
main .chapter02 .youtube-music .youtube-music-main .replay-list .item-list .item figure figcaption {
  margin-top: 10px;
  width: 100%;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list {
  padding-top: 32px;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .selection-header span {
  font-size: 16px;
  color: #aaaaaa;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .selection-header h2 {
  font-size: 45px;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li {
  width: 33%;
  margin: 0 24px 16px 0;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li:nth-child(4n) {
  margin-bottom: 0;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li:hover a figure::after {
  display: block;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li:hover a figure figcaption {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li:hover a figure figcaption .unvisible {
  display: block;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure::after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 48px;
  height: 48px;
  background-image: url(../assets/img/youtube-music/selection-items/play_arrow_fill1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure {
  display: flex;
  position: relative;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure .popup img {
  width: 48px;
  height: 48px;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption {
  margin-left: 16px;
  display: flex;
  justify-content: space-around;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption .visible {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption .visible strong {
  color: #fff;
  display: block;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption .visible span {
  color: rgba(255, 255, 255, 0.7);
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption .unvisible {
  display: none;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption .unvisible .hide-bar {
  display: flex;
  padding-top: 13px;
}
main .chapter02 .youtube-music .youtube-music-main .selection-list .item-list ul li a figure figcaption .unvisible .hide-bar div {
  margin: 0 7px;
}
main .chapter02 .naver-webtoon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .chapter02 .naver-webtoon .naver-webtoon-header {
  width: 960px;
  margin: 0 auto;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 {
  display: flex;
  justify-content: space-between;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left {
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left .naver-logo {
  background-image: url("../assets/img/naver-webtoon/naver-logo.svg");
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left .naver-logo a {
  background-image: url("../assets/img/naver-webtoon/naver-logo.svg");
  background-repeat: no-repeat;
  display: inline-block;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left .naver-logo .naver-home {
  background-position: -111px -28px;
  width: 60px;
  height: 12px;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left .naver-logo .naver-webtoon {
  background-position: -4px -133px;
  width: 42px;
  height: 27px;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left .naver-logo .naver-novel {
  background-position: -109px -55px;
  width: 47px;
  height: 19px;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-left .naver-logo .naver-series {
  background-position: -4px -106px;
  width: 47px;
  height: 19px;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line01 .webtoon-header-right {
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line02 .webtoon-category ul {
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .webtoon-header-line02 .webtoon-category ul li {
  margin: 5px;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .comic-category .category-list {
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-header .comic-category .category-list li {
  border: 1px solid turquoise;
}
main .chapter02 .naver-webtoon .naver-webtoon-main {
  width: 960px;
  margin: 0 auto;
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left {
  width: 694px;
  border: 1px solid coral;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .days-list .days-list-ul {
  display: flex;
  border-bottom: 2px solid #ddd;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .days-list .days-list-ul li {
  border: 1px solid slateblue;
  margin: 5px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .new-webtoon ul {
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .new-webtoon ul li {
  border: 1px solid orange;
  margin: 5px;
  width: 218px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .new-webtoon ul li figure img {
  width: 100%;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-banner {
  width: 100%;
  height: 60px;
  border: 1px solid blue;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line01 {
  display: flex;
  justify-content: space-between;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line01 h2 {
  font-size: 30px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line01 .view-type span {
  font-size: 20px;
  border: 1px solid orchid;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 {
  display: flex;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-mon {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-tue {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-wed {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-thu {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-fri {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-sat {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-left .webtoon-list-board .board-line02 .webtoon-sun {
  width: 100px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-right {
  width: 240px;
  padding-right: 10px;
  border: 1px solid cornflowerblue;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-right div {
  margin-bottom: 8px;
  border: 1px solid salmon;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-right .webtoon-upload {
  height: 42px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-right .webtoon-banner {
  height: 240px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-right .new-webtoon {
  height: 97px;
}
main .chapter02 .naver-webtoon .naver-webtoon-main .webtoon-main-right .rising-webtoon {
  height: 296px;
}/*# sourceMappingURL=style.css.map */